/* 全体で共通のCSSはこのファイルに記述する */
html {
  background-color: #fff;
}

body {
  background-color: #DADADA;
  margin: 0 auto;
  background-color: #FCF4F6;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.21);
}

/* 小デバイス（横向きモバイル, 576px 以上） */
@media (min-width: 576px) {
  body{
    width: 576px;
    margin: 0 auto;
  }  
}

input {
  height: 28px;
  border:none;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  -moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
  box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
}

.main.container {
  margin-top: 30px;
}

.header {
  background-color: #FFB7C8;
  height: 60px;
  box-shadow: 0 2px 4px #DEDEDE;
  display: flex;
  justify-content: flex-end; /* 横方向に右寄せ */
  align-items: center; /* 縦方向に中央寄せ */
}

.header input {
  height: 30px;
}

.footer {
  height: 60px;
  background-color: #FFB7C8;
  margin-top: -10px
}
