/* 全体で共通のCSSはこのファイルに記述する */
html {
  background-color: #fff;
  height: auto;
}

body {
  width: 500px;
  margin: 0 auto;
  background-color: #FCF4F6;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.21);
}

@media screen and (max-width: 500px) {
  body {
    width: 100%;
  }
}

li {
  list-style:none;
}

.item {
    text-decoration: none;
    color: #fff;
}

input[type="text"]{
  height: 28px;
  border:none;
  border-radius: 5px;
  margin: 10px -5px 10px 10px;
  padding: 5px;
  -moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
  box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
}

button {
  background-color: #FFB7C8;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px;
  
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.21);
}

button:hover {
  background-color: #E2E2E2;
  cursor: pointer;
  cursor: hand;
}

.main.container {
  margin-top: 30px;
}


/*header画像*/
.search {
  width: 50px;
}

.post-header {
  margin: 0 auto;
}

.post {
  text-align: center;
}

/*ホームページ*/
.content {
  background-color: #fff;
}